# Core
fastapi
uvicorn
python-dotenv
motor
pymongo
pydantic

# Core agents + AI
agno==2.2.10
anthropic
openai

# LangChain + LangGraph
langchain
langchain-core
langchain-community
langgraph
langgraph-sdk
langgraph-checkpoint
langsmith

# Networking and utils
httpx
httpcore
h11
sniffio
idna
certifi
anyio
tqdm
